.header{
    background-color: #1C456E;
    margin-bottom: 30px;
}

.navbar{
    padding: 0;
}

.rounded-corners{
    border-radius: 20px;
}

.file-name {
    color: #6C6C6C;
    font-size: 14px;
}

a {
    color: #1C456E;
}

.zondicon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 10px;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 16px;
    background-color: #F5F5F5;
    font-weight: 400;
    color: #4A4A4A;
}

button{
    font-family: 'Roboto', sans-serif;
}

input{
    font-family: 'Roboto', sans-serif;
}

#login-page .container {
    max-width: 320px;
}

.login-box {
    background: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 20px;
}

label {
    margin-bottom: 6px;
}

#login-page input{
    width: 100%;
    height: 40px;
}

#login-page .btn-primary{
    width: 100%;
    height: 40px;
}

.btn{
    border: none;
    font-weight: 500;
    padding: 10px;
} 

.btn-primary{
    background-color: #1C456E;
}

.btn-default{
    background-color: #fff;
    border: 1px solid #D7D7D7;
    color: #1C456E;
    position: relative;
}

.table td{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.filename2{
    color:#6C6C6C;
    font-size: 14px;
    font-weight: 400;
}



.row{
    border-bottom: 1px solid #ddd;
}

table.dataTable thead th, table.dataTable thead td{
    padding: 10px 8px;
    border-bottom: 2px solid #ddd;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}

table.dataTable tbody th, table.dataTable tbody td{
    padding: 19px 10px;
    border-bottom: 1px solid #d8d8d8;
}

.download, .remove{
    display: inline;
}

table.dataTable thead .sorting{
    background-image:url("/images/icon-sort-both.svg")
}

table.dataTable thead .sorting_asc{
    background-image:url("/images/icon-sort-asc.svg")
}

table.dataTable thead .sorting_desc{
    background-image:url("/images/icon-sort-desc.svg")
}

.table td, .table th {
    border-top: 0;
}

table.dataTable tbody tr {
    background-color: transparent;
}

input{
    height: 40px;
}

.signinWrapper{
    background: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 20px;
    max-width: 320px;
}

.signinWrapper input, .signinWrapper button{
    width: 100%;
}

.file .name{
    margin-right: 6px;
}



.modal-content{
    border-radius: 0;
}



//---------------------------------------------Grant
.data.table tr td div.action{
  opacity:0;
}

.data.table tr.hover td div.action{
  opacity:1;
}

.template{
  display:none;
}
//--------------------------------------------------



@media (max-width: 1024px) {

}


@media (max-width: 415px) {

}
