html, body {
    height: 100%; 
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 1024px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

.container-sm{
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-login{
    text-align: center;
    margin-bottom: 1em;
}

.sign-in-logo {
    margin-bottom: -5px;
}

.header{
    background-color: #1C456E;
    margin-bottom: 30px;
}

.navbar{
    padding: 0;
}

.active {
    border-bottom: 2px solid #fff;
}

.rounded-corners{
    border-radius: 20px;
}

.file-name {
    color: #6C6C6C;
    font-size: 14px;
}

.input-full{
    width: 100%;
}

.input-fixed{
    width: 320px;
}

.btn-primary{
    background-color: #1C456E;
}

.btn-primary:disabled{
    background-color: #C7CACD;
}

a {
    color: #1C456E;
}

.zondicon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 10px;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 16px;
    background-color: #F5F5F5;
    font-weight: 400;
    color: #4A4A4A;
}

button{
    font-family: 'Roboto', sans-serif;
}

input{
    font-family: 'Roboto', sans-serif;
}

.login-box {
    background: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 20px;
}

label {
    margin-bottom: 6px;
}

#login-page input{
    width: 100%;
    height: 40px;
}

#login-page .btn-primary{
    width: 100%;
    height: 40px;
}

.btn{
    border: none;
    font-weight: 500;
    padding: 10px;
} 

.btn-primary{
    background-color: #1C456E;
}

.btn-default{
    background-color: #fff;
    border: 1px solid #D7D7D7;
    color: #1C456E;
    position: relative;
}

.svg-icon{
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}

.table td{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.filename2{
    color:#6C6C6C;
    font-size: 14px;
    font-weight: 400;
}

.display-none{
    display: none;
}


.row{
    border-bottom: 1px solid #ddd;
}

table.dataTable thead th, table.dataTable thead td{
    padding: 10px 8px;
    border-bottom: 2px solid #ddd;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}

table.dataTable tbody th, table.dataTable tbody td{
    padding: 19px 10px;
    border-bottom: 1px solid #d8d8d8;
}

.download, .remove{
    display: inline;
    margin-left: 10px;
}

table.dataTable thead .sorting{
    background-image:url("/images/icon-sort-both.svg")
}

table.dataTable thead .sorting_asc{
    background-image:url("/images/icon-sort-asc.svg")
}

table.dataTable thead .sorting_desc{
    background-image:url("/images/icon-sort-desc.svg")
}

.table td, .table th {
    border-top: 0;
}

table.dataTable tbody tr {
    background-color: transparent;
}

input{
    height: 40px;
}

input[type=radio]{
    height: inherit;
}

.icon-file, .icon-user {
    margin-right: 8px;
}

.icon-user-download {
    margin-right: 8px;
}

.signinWrapper{
    background: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
}

.signinWrapper input, .signinWrapper button{
    width: 100%;
}

.file .name{
    margin-right: 6px;
    font-weight: 700;
    color: #1C456E;
}

.media{    
    opacity: 0.8;
}

.media:hover{
    text-decoration: none;    
    opacity: 1;
}

.usertype{
    color:#6C6C6C;
    font-size: 14px;
    font-weight: 400;
}



.modal-content{
    border-radius: 0;
}

.modal-header{
    padding: 20px 20px 10px 20px;
    border-bottom: 0;
}

.modal-body{
    padding: 10px 20px;
}

.close {
    position: absolute;
    right: 20px;
}



/*---------------------------------------------Grant*/
.data.table tr td div.action{
  opacity:0;
}

.data.table tr.hover td div.action{
  opacity:1;
}

.template{
  display:none;
}
/*--------------------------------------------------*/



@media (max-width: 1024px) {

}


@media (max-width: 415px) {

}
