body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;

  /*this is for testing, remove this to validate file is working*/
  background-color:#20B885;
}

.data.table tr td div.action{
  opacity:0;
}

.data.table tr.hover td div.action{
  opacity:1;
}

.menu.add.user{
  position:absolute;
  float:right;
}
